# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
.venv/



# Database
database/bugs.db

# Environment variables
.env

# Data files
data/bugs.csv
data/processed_bugs.csv

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
